@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Manrope', sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
  -moz-outline-style: none;
}

span, button, img, a {
	transition: .3s all ease;
}

a, span, button {
	display: inline-block;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
{
  padding-right: 12px;
  padding-left: 12px;
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}

.wrapper {
	overflow: hidden;
}

header {
	border-bottom: 1px solid #ECECF0;
}
header .top-con {
	border-bottom: 1px solid #ECECF0;
	padding: 0;
}
.header-top {
	display: flex;
	align-items: center;
	border-left: 1px solid #ECECF0;
	border-right: 1px solid #ECECF0;
}
.header-top .head-location {
	padding: 0 30px 0 24px;
}
.header-top .head-location .head-location-btn {
	display: flex;
	align-items: center;
}
.header-top .head-location .head-location-btn span {
	display: flex;
}
.header-top .head-location .head-location-btn .loc-text {
	margin: 0 8px 0 10px;
	color: #444;
	font-size: 14px;
	font-weight: 500;
	line-height: 128%;
}

.header-top .head-contact {
	padding: 10px 65px 10px 35px;
	display: flex;
	align-items: center;
	border-left: 1px solid #ECECF0;
	border-right: 1px solid #ECECF0;
}
.header-top .head-contact .mail-link {
	color: #424242;
	font-size: 14px;
	font-weight: 500;
	line-height: 142.857%;
	margin-right: 24px;
}
.header-top .head-contact-tel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header-top .head-contact-tel .tel-link {
	display: flex;
	align-items: center;
}
.header-top .head-contact-tel .tel-link a {
	color: #424242;
	font-size: 14px;
	font-weight: 600;
	line-height: 142.857%;
}
.header-top .head-contact-tel .tel-link span {
	color: #A4A4A4;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 9px;
}
.header-top .head-contact-tel .callback-btn {
	color: #838383;
	font-size: 14px;
	font-weight: 400;
	line-height: 142.857%;
	text-decoration-line: underline;
}
.header-top .head-contact .head-social {
	display: flex;
	margin-left: 16px;
}
.header-top .head-contact .head-social a:hover {
	transform: scale(1.1);
}
.header-top .head-contact a:hover {
	color: #3853A4;
}

.header-top .navbar {
	padding: 0 35px 0 45px;
}
.navbar-expand-lg .navbar-nav {
	justify-content: space-between;
	width: 100%;
	gap: 0 60px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
	color: #979797;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #3853A4;
}

.head-block {
	display: flex;
	align-items: center;
	width: 100%;
	border-left: 1px solid #ECECF0;
	border-right: 1px solid #ECECF0;
}
.head-block .head-logo {
	max-width: 194px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
}
.head-block .head-logo .logo-link span {
	display: block;
	color: #A7A7A7;
	font-size: 11px;
	font-weight: 400;
	line-height: normal;
}

.head-catalog {
	display: flex;
	align-items: center;
	border-left: 1px solid #ECECF0;
	border-right: 1px solid #ECECF0;
	padding: 10px 35px;
}
.head-catalog .catalog-btn {
	display: flex;
	align-items: center;
	gap: 0 10px;
	border-radius: 100px;
	background: #BF1E2D;
	padding: 11px 17px;
	border: none;
}
.head-catalog .catalog-btn .text {
	display: flex;
	color: #FFF;
	font-size: 14px;
	font-weight: 600;
	line-height: 128.571%;
}
.head-catalog .catalog-btn .catalog-arrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 5px 0;
}
.head-catalog .catalog-btn .catalog-arrow span {
	position: relative;
	width: 18px;
	height: 1px;
	background: #fff;
}
.head-catalog .catalog-btn.active .catalog-arrow .one {
	transform: rotate(45deg);
	top: 6px;
}
.head-catalog .catalog-btn.active .catalog-arrow .two {
	opacity: 0;
}
.head-catalog .catalog-btn.active .catalog-arrow .three {
	transform: rotate(-45deg);
	top: -6px;
}

.head-catalog .head-search {
	position: relative;
	margin-left: 10px;
}
.head-catalog .head-search form {
	display: block;
}
.head-catalog .head-search input {
	border-radius: 100px;
	background: #F4F4F4;
	width: 460px;
	height: 40px;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	color: #000;
}
.head-catalog .head-search input::placeholder {
	color: #A7A7A7;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}
.head-catalog .head-search .search-btn {
	position: absolute;
	top: 4px;
	right: 4px;
	min-width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #BF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.head-block .head-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 35px;
}
.head-block .head-menu a {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
}
.head-block .head-menu a .icon {
	height: 23px;
}
.head-block .head-menu a .text {
	color: #424242;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
}
.head-block .head-menu a:hover .text {
	color: #3853A4;
}
/* header end */
.main-sec {
	border-bottom: 1px solid #ECECF0;
}
.main-block {
	display: flex;
	gap: 0 24px;
	border-left: 1px solid #ECECF0;
	border-right: 1px solid #ECECF0;
}
.main-block .main-left {
	max-width: 305px;
	width: 100%;
	padding: 24px 24px 20px 24px;
	border-right: 1px solid #ECECF0;
}
.main-left .main-category {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px 0;
}
.main-left .main-category a {
	display: flex;
	align-items: flex-start;
	gap: 0 10px;
}
.main-left .main-category a img {
	min-width: 60px;
}
.main-left .main-category a .text {
	color: #424242;
	font-size: 16px;
	font-weight: 500;
	line-height: 125%;
}
.main-left .main-category a:hover .text {
	color: #3853A4;
}
.main-left .main-cat-btn {
	margin-top: 34px;
}
.link-btn {
	display: flex;
	align-items: center;
	gap: 0 10px;
}
.link-btn .btn-text {
	color: #A6A6A6;
	font-size: 16px;
	font-weight: 600;
	line-height: 125%;
}
.link-btn.blue .btn-text {
	color: #3853A4;
}
.link-btn:hover .btn-text {
	color: #3853A4;
}

/* main slide */
.main-right {
	max-width: 965px;
	width: 100%;
}
.main-right .main-slide {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 24px 24px 12px 0;
}
.main-right .main-slide-img {
	display: block;
}
.main-right .main-slide-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-slide .swiper-wrapper {
	height: 405px;
}
.main-slide .swiper-pagination {
	bottom: 12px;
}
.main-slide .swiper-pagination .swiper-pagination-bullet {
	background: #F0F0F0;
	width: 53px;
	height: 4px;
	border-radius: 0;
	opacity: 1;
	margin: 0 6px;
}
.main-slide .swiper-pagination .swiper-pagination-bullet-active {
	background: #DEDEDE;
}

/* info section */
.info-sec {
	padding: 35px 0 50px;
}
.info-block {
	display: flex;
	align-items: flex-start;
	gap: 0 18px;
	padding: 20px 22px 28px;
	border-radius: 20px;
	background: #F8F8F8;
}
.info-block .info-block-text p {
	color: #424242;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 7px;
}
.info-block .info-block-text span {
	color: #676767;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

/* popular category */
.popular-sec {
	margin: 50px 0;
	border-top: 1px solid #ECECF0;
	border-bottom: 1px solid #ECECF0;
}
.title .title-h2 {
	color: #424242;
	font-size: 34px;
	font-weight: 600;
	line-height: normal;
}
.popular-left {
	height: 100%;
	padding: 24px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.popular-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #ECECF0;
	height: 202px;
	overflow: hidden;
	position: relative;
	padding: 24px 14px 24px;
}
.popular-block .popular-text {
	color: #424242;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}
.popular-block .popular-text span {
	display: block;
	color: #A4A4A4;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 14px;
}
.popular-block .popular-img {
	margin-left: auto;
	margin-right: -14px;
	margin-bottom: -24px;
}
.pop-rov {
	margin: 0;
	border-left: 1px solid #ECECF0;
}
.pop-col {
	padding: 0;
	/* margin-left: -1px;
	margin-top: -1px; */
}

/* xit prodaj */
.xit-sec {
	padding: 50px 0 80px;
}
.xit-sec .title {
	margin-bottom: 30px;
}
.tags {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 54px;
}
.tags .tag-in {
	display: flex;
	align-items: center;
}
.tags .tag-item a {
	display: flex;
	border-radius: 100px;
	border: 1px solid #ECECF0;
	color: #424242;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	padding: 13px 40px;
}
.tags .tag-item a:hover {
	background: #3853A4;
	color: #fff;
}

.xit-block {
	border-radius: 20px;
	border: 1px solid #ECECF0;
	padding: 16px;
}
.xit-block .xit-mark {
	color: #424242;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	border-radius: 100px;
	background: rgba(56, 83, 164, 0.10);
	padding: 3px 14px;
	margin-bottom: 8px;
	display: inline-flex;
}
.xit-block .xit-img {
	text-align: center;
	margin-bottom: 40px;
}
.xit-block .xit-img img {
	height: 90px;
}
.xit-block .xit-rating {
	display: flex;
	align-items: center;
	gap: 0 4px;
	margin-bottom: 6px;
}
.xit-block .xit-rating span {
	color: #424242;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.xit-block .xit-text p {
	overflow: hidden;
	color: #424242;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 10px;
}
.xit-block .xit-info-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px 0;
	margin-bottom: 32px;
}
.xit-block .xit-info-block .xit-info {
	display: flex;
	align-items: center;
	gap: 4px;
}
.xit-block .xit-info-block .xit-info p {
	color: #A7A7A7;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.xit-block .xit-info-block .xit-info .info-line {
	width: 14px;
	height: 1px;
	background: #A7A7A7;
}
.xit-block .xit-info-block .xit-info .info-num {
	color: #424242;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.xit-block .xit-price span {
	display: block;
	overflow: hidden;
	color: #424242;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}
.xit-block .xit-stock {
	display: flex;
	align-items: center;
	gap: 0 8px;
	margin-bottom: 15px;
}
.xit-block .xit-stock .stock-status {
	min-width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #1EBF2E;
}
.xit-block .xit-stock p {
	overflow: hidden;
	color: #424242;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
}
.xit-block .xit-btns {
	display: flex;
	align-items: center;
	gap: 8px;
}
.xit-block .xit-btns .xit-add-cart {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	border: 1px solid #3853A4;
	padding: 12px 20px;
	background: #fff;
	color: #3853A4;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
}
.xit-block .xit-btns .xit-add-cart:hover {
	background: #3853A4;
	color: #fff;
}
.xit-block .xit-btns .xit-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	border: 1px solid #D5D5D5;
	padding: 12px 20px;
	color: #424242;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
}
.xit-block .xit-btns .xit-link:hover {
	background: #F2F2F2;
	border-color: #F2F2F2;
}

/* person section */
.person-sec {
	padding: 80px 0 100px;
	border-top: 1px solid #ECECF0;
	border-bottom: 1px solid #ECECF0;
}

.person-block {
	display: flex;
	align-items: center;
	gap: 0 86px;
}
.person-block .person-img {
	max-width: 354px;
	width: 100%;
	height: 500px;
}
.person-block .person-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
.person-block .person-text {
	position: relative;
	max-width: 630px;
	width: 100%;
}
.person-block .person-text .person-quote {
	position: absolute;
	left: -67px;
	top: -44px;
	color: #F2F2F2;
	font-size: 283.636px;
	font-weight: 600;
	line-height: normal;
}

.person-block .person-text .person-name {
	color: #424242;
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
	display: block;
	margin-bottom: 26px;
	position: relative;
}
.person-block .person-text p {
	color: #676767;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	position: relative;
}

/* Наши партнеры */
.our-partners {
	border-bottom: 1px solid #ECECF0;
}
.our-partners .title {
	padding: 24px 0;
	max-width: 238px;
	width: 100%;
}
.our-partners-rov {
	margin: 0;
	border-left: 1px solid #ECECF0;
}
.our-partners-col {
	padding: 0;
	/* margin-left: -1px;
	margin-top: -1px; */
}
.partners-block {
	border: 1px solid #ECECF0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 202px;
	padding: 16px;
}

/* Контакты */
.contact-sec {
	padding: 100px 0;
}
.contact-sec .title {
	margin-bottom: 60px;
}
.contact-sec .contact-block {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 20px;
	background: #F6F6F6;
	height: 100%;
}
.contact-sec .contact-social {
	flex-direction: row;
	gap: 0 57px;
}
.contact-block .contact-text {
	display: block;
	color: #A4A4A4;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 14px;
}
.contact-block .contact-tel-num {
	display: flex;
	align-items: center;
	gap: 0 10px;
	margin-bottom: 14px;
}
.contact-block .contact-tel-num a {
	color: #424242;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}
.contact-block .contact-tel-num p {
	color: #A4A4A4;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.contact-block .contact-call {
	color: #424242;
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
	display: flex;
	align-items: center;
}
.contact-block .contact-social-links a:hover,
.contact-social-links a:hover,
.contact-block .contact-tel-num a:hover,
.contact-block .contact-call:hover {
	color: #3853A4;
}
.contact-block .contact-call img {
	display: flex;
	margin-right: 10px;
}
.contact-block .contact-social-links {
	display: flex;
	flex-direction: column;
	gap: 20px 0;
}
.contact-block .contact-social-links a {
	color: #424242;
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
}
.contact-block address {
	color: #424242;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150.5%;
}
.contact-block .contact-address-time p {
	color: #A4A4A4;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

/* footer */
footer {
	margin-bottom: 64px;
}
footer .ftr-block {
	border-radius: 20px;
	background: #3853A4;
	padding: 40px;
}
footer .ftr-logo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 8px 12px;
	border-radius: 10px;
	background: #FFF;
}
footer .ftr-logo span {
	color: #ADADAD;
	font-size: 11px;
	font-weight: 400;
	line-height: normal;
}
footer .ftr-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px 0;
}
footer .ftr-menu .ftr-menu-link {
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

footer .ftr-end {
	border-top: 1px solid #B5B5B5;
	margin-top: 55px;
	padding-top: 34px;
	display: flex;
	align-items: flex-start;
}

footer .ftr-end .ftr-contact-tel {
	display: flex;
	align-items: center;
	gap: 0 14px;
}
footer .ftr-end .ftr-contact-tel a {
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}
footer .ftr-end .ftr-contact-tel span {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

footer .ftr-contact-call {
	display: flex;
	align-items: center;
	margin-top: 14px;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
}
footer .ftr-contact-call svg {
	margin-right: 10px;
}

footer .ftr-social {
	display: flex;
	align-items: center;
	margin-left: 50px;
	gap: 0 24px;
}
footer .ftr-social a {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
	text-decoration: underline;
}

footer .ftr-info {
	margin-left: auto;
	text-align: right;
}
footer .ftr-info .ftr-info-in {
	display: flex;
	align-items: center;
	gap: 0 25px;
}
footer .ftr-info .ftr-info-in p {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
}
footer .ftr-info .ftr-info-in a {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
	text-decoration-line: underline;
}
footer .ftr-info .ftr-offer {
	color: #FFF;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
	text-decoration-line: underline;
	margin-top: 5px;
}
footer .ftr-social a:hover,
footer .ftr-info .ftr-offer:hover,
footer .ftr-info .ftr-info-in a:hover {
	text-decoration: none;
}

/* Breadcrumbs */
.breadcrumb {
	align-items: center;
	margin: 30px 0 40px;
}
.breadcrumb-item+.breadcrumb-item {
	padding-left: 6px;
	position: relative;
	color: #424242;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.breadcrumb-item+.breadcrumb-item::before {
	content: "—";
	padding-right: 6px;
}
.breadcrumb-item a {
	color: #828282;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
}
.breadcrumb-item a:hover {
	color: #000;
}
/* end */
/* Pagination */
.pagination {
	margin: 26px auto 0;
	justify-content: center;
	gap: 0 14px;
}
.page-item.prev {
	margin-right: 10px;
}
.page-item.prev span {
	margin-right: 10px;
}
.page-item.next {
	margin-left: 10px;
}
.page-item.next span {
	margin-left: 10px;
}
.page-link {
	border: none;
	padding: 0;
	color: #121212;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.page-item:not(:first-child) .page-link {
	margin: 0;
}
.page-item:last-child .page-link {
	border-radius: 0;
}
.page-link:hover {
	background: transparent;
	color: #3853A4;
}
.page-item:focus span svg path,
.page-item:hover span svg path {
	fill: #3853A4;
}
.page-link:focus {
	box-shadow: none;
	background: transparent;
	color: #3853A4;
}
/* end */

/* title */
.title-h1 {
	color: #424242;
	font-size: 34px;
	font-weight: 600;
	line-height: normal;
}

.catalog-sec {
	padding-bottom: 60px;
}
.catalog-sec .title {
	margin-bottom: 40px;
}
.catalog-rov {
	gap: 24px 0;
}
.catalog-block {
	height: 265px;
	border-radius: 10px;
	border: 1px solid #ECECF0;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 30px;
}
.catalog-block:hover {
	border-color: #3853A4;
}
.catalog-block .catalog-text p {
	color: #424242;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 10px;
}
.catalog-block:hover .catalog-text p {
	color: #3853A4;
}
.catalog-block .catalog-img {
	margin-left: auto;
	margin-right: -30px;
	margin-bottom: -30px;
}


/* seo section */
.seo-sec {
	padding: 60px 0;
}
.seo-sec .title {
	margin-bottom: 40px;
}
/* read more style */
.seo-block .moretext {
	transition: .3s;
	max-width: 1141px;
}
.seo-block .moretext.active p {
	overflow: visible;
	-webkit-line-clamp: inherit;
	text-overflow: inherit;
	transition: .3s;
}
.seo-block .moretext p {
	display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
	color: #424242;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	transition: .3s;
}

.moreless-button {
	display: block;
	margin-top: 10px;
	color: #9F9F9F;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-decoration-line: underline;
}
.moreless-button:hover {
	text-decoration: none;
	color: #3853A4;
}

/* faq section */
.faq-sec {
	padding: 60px 0 120px;
}
.faq-sec .title {
	margin-bottom: 60px;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type {
	border-radius: 0;
}
.accordion-button:focus {
	border-color: transparent;
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	color: #424242;
	background: #F6F6F6;
}

.accordion-item {
	border: none;
	margin-bottom: 14px;
}
.accordion-item:last-child {
	margin-bottom: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
	border-radius: 20px;
}
.accordion-button {
	border-radius: 20px;
	background: #F6F6F6;
	padding: 8px 30px 8px 40px;
	color: #424242;
	font-size: 18px;
	font-weight: 500;
	line-height: 52px;
}
.accordion-body p {
	font-size: 16px;
	color: #424242;
	line-height: 1.2;
}
.accordion-button::after {
	width: 16px;
	height: 9px;
	background-image: url(../images/icons/accordion-arrow.svg);
	background-size: 16px 9px;
}
.accordion-button:not(.collapsed)::after {
	background-image: url(../images/icons/accordion-arrow.svg);
}


.faq-right {
	padding: 60px 34px 50px;
	border-radius: 20px;
	background: #F6F6F6;
	text-align: center;
}
.faq-right h3 {
	color: #424242;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 20px;
}
.faq-right p {
	color: #424242;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 66px;
}
.faq-right a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	padding: 20px 55px;
	border-radius: 100px;
	background: #3853A4;
}

/* 404 */
.not-found {
	padding: 40px 0 120px;
}
.not-found-block {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.not-found-block .not-found-title {
	color: #424242;
	font-size: 180px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
}
.not-found-block p {
	color: #676767;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.not-found-block .not-found-links {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	margin-top: 62px;
}
.not-found-block a {
	width: 320px;
	height: 56px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 100px;
}
.not-found-block .home-link {
	background: #3853A4;
	color: #FFF;
}
.not-found-block .catalog-link {
	border: 1px solid #424242;
	color: #424242;
}

/* Договор оферты + Политика конфиденциальности */
.subtitle .subtitle-text {
	color: #424242;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
}
.subtitle p {
	margin-bottom: 20px;
}
.subtitle p:last-child {
	margin-bottom: 0;
}

.privacy-policy,
.contract-offer {
	padding: 80px 0 120px;
}
.contract-offer .title {
	margin-bottom: 25px;
}
.privacy-policy .subtitle,
.contract-offer .subtitle {
	margin-bottom: 20px;
}
.privacy-policy .privacy-block-text p,
.contract-offer .contract-block-text p {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.privacy-policy .title {
	margin-bottom: 45px;
}

/* Оплата и доставка */
.payment-sec {
	padding: 60px 0 40px;
}
.delivery-sec .title,
.payment-sec .title {
	margin-bottom: 40px;
}
.delivery-block,
.payment-block {
	padding: 40px;
	border-radius: 20px;
	background: #F4F4F4;
}
.delivery-block .subtitle,
.payment-block .subtitle {
	margin-bottom: 18px;
}
.delivery-block .delivery-text p,
.payment-block .payment-text p {
	color: #3D3D3D;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 20px;
}
.delivery-block .delivery-text p:last-child,
.payment-block .payment-text p:last-child {
	margin-bottom: 0;
}

.delivery-sec {
	padding: 40px 0 120px;
}
.delivery-sec .in-title {
	max-width: 822px;
	width: 100%;
}
.delivery-sec .in-title .subtitle {
	margin-bottom: 40px;
}
.delivery-sec .in-title .subtitle-text {
	margin-bottom: 20px;
}
.delivery-sec .in-title .subtitle p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

/* новости (подробное описание) */
.news-detail-sec {
	padding: 20px 0 120px;
}
.news-detail {
	padding: 30px;
	border-radius: 20px;
	background: #F4F4F4;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 40px;
}
.news-detail .news-detail-date span {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	border-radius: 100px;
	background: #FFF;
	padding: 14px 20px;
	margin-bottom: 12px;
}
.news-detail .news-detail-img {
	max-width: 445px;
	width: 100%;
	height: 212px;
	border-radius: 20px;
	overflow: hidden;
}
.news-detail .news-detail-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-detail-article .subtitle {
	margin-bottom: 26px;
}
.news-detail-article .news-detail-text p {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 16px;
}
.news-detail-article .news-detail-text p:last-child {
	margin-bottom: 0;
}

/* Подписаться на рассылку */
.subscribe-sec {
	padding-bottom: 120px;
}
.subscribe-block {
	border-radius: 20px;
	background: #3853A4;
	padding: 40px 135px 40px 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.subscribe-block .title-h2 {
	color: #FFF;
	max-width: 231px;
	width: 100%;
}

.subscribe-block .subscribe-form form {
	display: flex;
	align-items: center;
}
.subscribe-block .subscribe-form input {
	border-radius: 100px;
	background: #F4F4F4;
	padding: 12px 30px;
	width: 453px;
	height: 56px;
	border: none;
}
.subscribe-block .subscribe-form input::placeholder {
	font-size: 17px;
	color: #8E8E8E;
}

.subscribe-block .subscribe-form .subscribe-form-btn {
	margin-left: 14px;
	border-radius: 100px;
	border: 1px solid #FFF;
	padding: 16px 75px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}
.subscribe-block .subscribe-form .subscribe-form-btn:hover {
	background: #fff;
	color: #3853A4;
}

/* News */
.news-sec {
	padding-bottom: 120px;
}
.news-sec .news-top {
	padding: 40px;
	border-radius: 20px;
	background: #F4F4F4;
	display: flex;
	align-items: flex-end;
	min-height: 218px;
	margin-bottom: 65px;
}

.news-block {
	border-radius: 20px;
	border: 1px solid #ECECF0;
	padding: 40px 20px 40px 40px;
	transition: .3s all ease;
	height: 322px;
	overflow: hidden;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.news-block:hover {
	border-color: #424242;
}
.news-img-block {
	height: 664px;
	padding: 0;
}
.news-img-block .news-in {
	padding: 40px 20px 40px 40px;
}
.news-img {
	border-radius: 20px;
	height: 322px;
	width: 100%;
	overflow: hidden;
	background: lightgray 50% / cover no-repeat;
}
.news-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-block .news-date span {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	border-radius: 100px;
	background: #F4F4F4;
	padding: 9px 21px;
	margin-bottom: 10px;
}
.news-block .news-text {
	margin-bottom: 40px;
}
.news-block .news-text p {
	color: #424242;
	font-size: 20px;
	font-weight: 600;
	line-height: 32px;
	height: 96px;
	overflow: hidden;
}
.news-block .news-link a {
	color: #424242;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 100px;
	border: 1px solid #424242;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 174px;
	height: 56px;
}
.news-block .news-link a:hover {
	background: #424242;
	color: #fff;
}

/* статья */
.article-sec {
	padding-bottom: 120px;
}
.article-top {
	padding: 35px 65px 25px 35px;
	border-radius: 20px;
	background: #F4F4F4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 56px;
}
.article-top .article-left {
	max-width: 361px;
	width: 100%;
}
.article-top .article-date span {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	border-radius: 100px;
	background: #fff;
	padding: 9px 21px;
	margin-bottom: 22px;
}
.article-top .title {
	margin-bottom: 12px;
	max-width: 312px;
}
.article-top .article-text {
	margin-bottom: 40px;
}
.article-top .article-text p {
	color: #727272;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.article-top .article-person {
	display: flex;
	align-items: center;
	gap: 0 14px;
}
.article-top .article-person .article-person-img img {
	min-width: 81px;
	height: 81px;
	border-radius: 50%;
}
.article-top .article-person .article-person-name {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 4px;
}
.article-top .article-person .article-person-text {
	color: #000;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}

.article-top .article-top-img {
	max-width: 445px;
	width: 100%;
	height: 266px;
	overflow: hidden;
	border-radius: 20px;
}
.article-top .article-top-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-top .article-unread-date span {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	padding: 11px 15px;
	border-radius: 100px;
	background: #FFF;
	margin-top: 28px;
}

.article-block {
	margin-bottom: 50px;
}
.article-block .article-text.one {
	max-width: 743px;
}
.article-block .article-text.two {
	max-width: 811px;
}
.article-block .article-text p {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 20px;
}
.article-rov {
	justify-content: space-between;
}

.article-block .subtitle {
	margin-bottom: 10px;
}
.article-block .subtitle-text {
	margin: 32px 0;
}
.article-item p,
.article-block .subtitle p {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.article-item {
	border-left: 2px solid #E5E5E5;
	padding-left: 30px;
	margin: 40px 0 30px;
}
.article-list ul {
	padding-left: 37px;
	margin-bottom: 0;
	list-style: none;
}
.article-list ul li {
	position: relative;
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 10px;
}
.article-list ul li:last-child {
	margin-bottom: 0;
}
.article-list ul li::before {
	content: "";
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #3853A4;
	position: absolute;
	left: -37px;
	top: 10px;
}

.article-content {
	padding-left: 30px;
	border-left: 2px solid #E5E5E5;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.article-content p {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 16px;
}
.article-content-items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 14px 0;
}
.article-content-items .content-item {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}
.article-right .article-share {
	margin-top: 30px;
}
.article-share .share-link {
	padding: 12px 30px;
	border-radius: 100px;
	background: #F4F4F4;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #3D3D3D;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}
.article-share .share-link img {
	margin-left: 13px;
}
.article-share .share-link:hover {
	background: #D5D5D5;
}

/* Блог */
.blog-sec {
	padding: 10px 0 120px;
}
.blog-top {
	border-radius: 20px;
	background: #F4F4F4;
	padding: 40px;
	min-height: 290px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 56px;
}
.blog-top .title p {
	max-width: 384px;
	width: 100%;
	color: #727272;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 12px;
}
.blog-tags {
	display: flex;
	align-items: center;
	gap: 0 10px;
	margin-bottom: 40px;
}
.blog-tags .blog-tag-item {
	border-radius: 100px;
	background: #EFEFEF;
	padding: 13px 24px;
	color: #424242;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.blog-search {
	margin-bottom: 60px;
	max-width: 635px;
	width: 100%;
	border-bottom: 1px solid #D9D9D9;
	position: relative;
}
.blog-search form {
	display: flex;
	align-items: flex-end;
}
.blog-search input {
	width: 100%;
	padding: 0 0 9px;
	border: none;
	color: #000;
	font-size: 14px;
}
.blog-search input::placeholder {
	color: #424242;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.blog-search .blog-search-btn {
	border: none;
	padding: 0;
	background: transparent;
}
.blog-search .blog-search-btn:hover svg g path {
	fill: #3853A4;
}

.blog-content {
	padding-bottom: 54px;
}
.blog-rov {
	gap: 60px 0;
}
.blog-in {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.blog-in img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
}
.blog-in span {
	color: #424242;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 18px;
	height: 56px;
	overflow: hidden;
}
.blog-in:hover span {
	color: #3853A4;
}

/* Контакты */
.contact-page {
	padding-bottom: 120px;
}
.contact-page .title {
	margin-bottom: 60px;
}
.contact-tel {
	padding: 50px 30px 40px 60px;
	border-radius: 20px;
	border: 1px solid #C6C6C6;
}
.contact-top .tel-text {
	display: block;
	color: #9E9E9E;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 24px;
}
.contact-tel .tel-num {
	color: #424242;
	font-size: 78px;
	font-weight: 600;
	line-height: 80px;
	text-transform: uppercase;
	margin-bottom: 36px;
}
.contact-mail a:hover,
.callback-link:hover .text,
.contact-tel .tel-num:hover {
	color: #3853A4;
}
.contact-tel .contact-call {
	display: flex;
	align-items: center;
	gap: 0 50px;
}
.callback-link {
	display: inline-flex;
	align-items: center;
	gap: 0 10px;
}
.callback-link .icon {
	min-width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #3853A4;
}
.callback-link .text {
	color: #2C2C2C;
	font-size: 18px;
	font-weight: 400;
	line-height: 150.5%;
}

.write-us {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #424242;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 100px;
	background: #F2F2F2;
	padding: 17px 76px;
}
.write-us:hover {
	background: #3853A4;
	color: #fff;
}

.contact-mail {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 20px;
	background: #F2F2F2;
	padding: 60px;
}
.contact-mail .tel-text {
	margin-bottom: 30px;
}
.contact-mail a {
	display: block;
	color: #424242;
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 14px;
}
.contact-mail a:last-child {
	margin-bottom: 0;
}

.contact-map {
	margin-top: 24px;
	padding-top: 60px;
	border-radius: 20px;
	border: 1px solid #C6C6C6;
}
.contact-map .map-text {
	padding-left: 60px;
}
.contact-map .map-text span {
	display: block;
	margin-bottom: 16px;
	color: #9E9E9E;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
}
.contact-map .map-text p {
	max-width: 600px;
	color: #424242;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
}
.map-block {
	height: 416px;
	overflow: hidden;
	margin-top: 60px;
}
.map-block img,
.map-block iframe {
	width: 100%;
	height: 100%;
	border-radius: 0 0 20px 20px;
}

.contact-requisites {
	padding-bottom: 120px;
}
.download-requisites {
	padding: 13px 29px;
	border-radius: 100px;
	background: #F4F4F4;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #424242;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 30px;
}
.download-requisites svg {
	margin-right: 10px;
}
.download-requisites:hover {
	background: #D5D5D5;
	color: #424242;
}

.requisites-content {
	display: flex;
	justify-content: space-between;
	gap: 0 30px;
}
.requisites-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 34px 0;
}
.requisites-item {
	display: flex;
	align-items: center;
	gap: 0 30px;
}
.requisites-item p {
	color: #A7A7A7;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}
.requisites-item span {
	color: #000;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

/* Мои заказы */
.my-orders {
	padding: 70px 0 120px;
}
.my-orders .title {
	margin-bottom: 70px;
}
.order-content {
	margin-bottom: 60px;
}
.order-content:last-child {
	margin-bottom: 0;
}
.order-content .order-title {
	margin-bottom: 30px;
}
.order-content .order-title h2 {
	color: #424242;
	font-size: 24px;
	font-weight: 500;
	line-height: 44px;
}
.order-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-radius: 20px;
	border: 1px solid #D3D3D3;
}
.order-block-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: -1px;
}
.order-block-item p {
	width: 100%;
	padding: 15px 38px;
	background: #F4F4F4;
	white-space: nowrap;
}
.order-block-item:first-child p {
	border-radius: 20px 0 0 20px;
}
.order-block-item:last-child p {
	border-radius: 0 20px 20px 0;
}
.order-block-item p,
.order-block-item span {
	color: #424242;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
}
.order-block-item span {
	padding: 30px 38px;
}

.order-content .order-in .order-more {
	margin: 20px 0 0 38px;
	color: #424242;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	text-decoration-line: underline;
}
.order-content .order-in .order-more:hover {
	text-decoration: none;
}

/* Registration */
.login-sec,
.reg-sec {
	padding: 90px 0 120px;
}

.login-top-btns,
.reg-top-btns {
	display: flex;
	align-items: center;
	gap: 17px;
	margin: 17px 0 50px;
}
.login-top-btns span,
.login-top-btns a,
.reg-top-btns span,
.reg-top-btns a {
	color: #494949;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}
.login-top-btns a,
.reg-top-btns a {
	text-decoration: underline;
}
.login-top-btns a:hover,
.reg-top-btns a:hover {
	text-decoration: none;
}

.login-block .form-group,
.reg-block .form-group {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.login-block .form-group span,
.reg-block .form-group span {
	color: #303030;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 14px;
	display: block;
}
.login-block .form-group input,
.reg-block .form-group input {
	width: 100%;
	height: 60px;
	border-radius: 100px;
	border: 1px solid #C4C4C4;
	padding: 18px 30px;
	font-size: 16px;
	color: #000;
}
.login-block .form-group input::placeholder,
.reg-block .form-group input::placeholder {
	color: rgba(48, 48, 48, 0.70);
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.login-block .login-form-btn,
.reg-block .reg-form-btn {
	padding-top: 20px;
}
.login-block .login-form-btn .login-btn,
.reg-block .reg-form-btn .reg-btn {
	border-radius: 100px;
	background: #3853A4;
	padding: 17px 76px;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	border: none;
	margin-bottom: 30px;
}
.reg-block .reg-form-btn p {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	max-width: 526px;
}

.login-sec .reg-right {
	margin-top: 36px;
}
.reg-right {
	border-radius: 20px;
	background: #F4F4F4;
	padding: 30px 36px;
}
.reg-right .reg-order {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.reg-right .reg-order span {
	color: #424242;
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
}
.reg-right .reg-order a {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	line-height: 27.5px;
	text-decoration-line: underline;
}
.reg-right .reg-price {
	color: #585858;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: line-through;
}
.reg-right .reg-current-price {
	color: #424242;
	font-size: 34px;
	font-weight: 700;
	line-height: normal;
}

/* oformlenie */
.step-number {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 80px 0 90px;
}
.step-number .step-item span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 70px;
	height: 70px;
	background: #F4F4F4;
	border-radius: 50%;
	color: #676767;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
}
.step-number .step-item p {
	color: #676767;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin-top: 14px;
}

.switcher-face {
	display: flex;
	align-items: center;
}












































.mob {display: none !important;}


@media only screen and (max-width: 1400px){
	.navbar-expand-lg .navbar-nav {
		gap: 0 30px;
	}
	.header-top .navbar {
		padding: 0 20px;
	}
	.header-top .head-contact {
		padding: 10px 30px;
	}
	.header-top .head-location {
		padding: 0 15px;
	}
}







@media only screen and (max-width: 576px) {
	.pc {display: none !important;}
	.mob {display: block !important;}
}